<body class="viewBody">
 <div class="content" >
   <br>

<h1 style="text-align:center;">Editing Barber</h1>

<%= render 'form', barber: @barber %>

<%= link_to 'Show', @barber, class:"btn btn-success btn-lg" %> |
<%= link_to 'Back', barbers_path, class:"btn btn-primary btn-lg" %>


</div>
</body>
