<br>
<h1 style="text-align:center;">New Customer</h1>

<div class="container">

<hr>

<%= render 'form', customer: @customer %>

<center>
<%= link_to 'Back', customers_path, class:"btn btn-primary btn-lg" %>
</center>

</div>
